.navbar{
    background-color:darkblue!important;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.nav-link{
    color: white !important;
    font-weight: normal;
}
.dropdown-item:hover{
    background-color:darkblue !important;
    color: white;
}

#homepage{
    font-size: medium;
    color:darkblue;
    text-align: center;
    width: 70px;
    border-radius:58px;
}

#homepage:hover{
    background-color: white;
    color:darkblue !important;
    text-align: center;
    width: 70px;
    border-radius:58px;

}
#shoppage{
    font-size: medium;
    color:darkblue;
    text-align: center;
    width: 81px;
    border-radius:60px;
}

#shoppage:hover{
    background-color: white;
    color:darkblue !important;
    text-align: center;
    width: 81px;
    border-radius:60px;

}
#about{
    font-size: medium;
    color:darkblue;
    text-align: center;
    width: 95px;
    border-radius:64px;
}

#about:hover{
    background-color: white;
    color:darkblue !important;
    text-align: center;
    width: 95px;
    border-radius:64px;

}
#contact{
    font-size: medium;
    color:darkblue;
    text-align: center;
    width: 110px;
    border-radius:64px;
}

#contact:hover{
    background-color: white;
    color:darkblue !important;
    text-align: center;
    width: 110px;
    border-radius:64px;

}
.fa-shopping-cart{
    font-size: 24px !important;
}
.fa-user-circle{
    font-size: 24px !important;
}
.support{
    display: flex;
    background-color:darkblue;
    border:1px lightgray solid;
    width: 60%;
    height:80px;
    padding: 25px 0px 0px 25px;
    margin: 10px 0px;
    margin-top: 30px;
}
.fa-truck,.fa-headphones,.fa-credit-card-alt{
    font-size: 50px !important;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}
h3{
    color: white;
    font-weight: bold;
}
.card1,.card2,.card3{
    display: flex;
    width: 420px;
    height: 65px;
    background-color:darkblue;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 2px 4px 5px blue;
}
.mainCard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    width: 275px;
    height: auto;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 10px;
   
    
}
.ourproducts{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media screen and (max-width:762px){
    .card{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}
.heading{
    text-align: center;
    color: darkblue;
    margin-bottom: 15px;
    text-decoration-color: darkblue;
    font-weight: bold;
}
.card-text{
font-size: 22px;
color: darkblue !important;
font-weight: bold;
}
.heading1{
    
        text-align: center;
        color: darkblue;
        margin-bottom: 15px;
        margin-top:10px;
        text-decoration-color: darkblue;
        font-weight: bold;
    }
    .card-img-top{
        border-style: solid ;
        border-width: 0.5px;
        border-color: seashell
    }
    .newarrivals{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
.card-img-top{
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
}

.card-text1{
    color: darkblue !important;
    font-weight: bold;
    margin-top: 10px;
    }
    .btn-primary {
        font-weight: bold;
        font-size: 15px !important;
        color:white !important;
        background-color: darkblue;
        margin-bottom: 10px;
    }
.heading2{
    
        text-align: center;
        color: darkblue;
        margin-bottom: 20px;
        margin-top:40px;
        text-decoration-color: darkblue;
        font-weight: bold;
    }
.popularproduct{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    
}
.mob1{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.mob2{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.mob3{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.heading3{
    
    text-align: center;
    color: darkblue;
    margin-bottom: 30px;
    margin-top:8px;
    text-decoration-color: darkblue;
    font-weight: bold;
}
#im{
   
        display: flex;
        width: 180px;
        height: 130px;
        background-color:darkblue;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        box-shadow: 2px 4px 5px blue;
        text-align: center;
    
}
.ourpartners{

    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (max-width:990px){
    #im{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}


.footer
{
    background-color:darkblue;
}

.row div p,.row div h4 
{
    color:white;
}
.row div div a
{
    font-size: 20px;
    color: white;
    padding: 0px 10px 0px 10px;
}

.Copyright
{
    padding:5px ;
    background-color:blue;
    color:white;
    text-align: center;
}



.scrollToTop {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color:white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:blue;
    font-size: 22px;
}

.scrollToTop:hover
{
    
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: blue;
    font-size: 22px;
}
p1{
    font-size: 16px;
    color:black;
}
.headings{
    text-align: center;
    color: darkblue;
    margin-bottom: 15px;
    margin-top:20px;
    text-decoration-color: darkblue;
    font-weight: bold;
}
p2{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.contact{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: auto;
}
.heading3{
    font-size: 10px;
    text-align: center;
    color: darkblue;
    margin-bottom: 20px;
    margin-top:40px;
    text-decoration-color: darkblue;
    font-weight: bold;
}
#imj{
    width: 250px;
    height:250px;
    color: darkblue;
    margin-top: 45px;
}
#big{
    font-size: 20px;
    font-weight: bold;
}
#big1{
    font-size: 17px;
    font-weight: bold;
}